<a href="https://colab.research.google.com/github/sai1983-hack/PythonTraining/blob/main/PythonTrainingExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# write a program to find the largest number among the numbers

def largest(a, b, c):
  if a > b and a > c:
    return a
  elif b > a and b > c:
      return b
  else:
        return c

print(largest(10, 20, 30))

30

In [12]:
# write a program to display all prime numbers within an interval

def prime_numbers(start, end):
  for num in range(start, end + 1):
    if num > 1:
      for i in range(2, num):
        if num % i == 0:
          break
      else:
        print(num)
prime_numbers(10, 50)

11
13
17
19
23
29
31
37
41
43
47

In [13]:
# write a program to swap two numbers without using a temporary variable

def swap(a, b):
  a = a + b
  b = a - b
  a = a - b
  return a, b

print(swap(10, 20))

(20, 10)

# **Operators**

In [16]:
# 1. Arithmatic Operator

def arithmatic(a, b):
  add = a + b
  sub = a - b
  mul = a * b
  div = a / b
  return add, sub, mul, div

print(arithmatic(20,10))

(30, 10, 200, 2.0)

In [17]:
# 2. Relational Operator

def relational(a, b):
  if a > b:
    return "a is greater than b"
  elif a < b:
    return "a is less than b"
  else:
    return "a is equal to b"

print(relational(10,20))

a is less than b

In [27]:
# 3. Assignment Operator

def assignment(a, b):
  a += b
  b -= a
  return


print(assignment(10, 20))

None

In [31]:
# 4. Logical Operator

def logical(a, b):
  if a > 10 and b < 20:
    return " a is greater than 10 and b is less than 20"
  else:
    return " a is less than 10 and b is greater than 20"

print(logical(10,20))

 a is less than 10 and b is greater than 20

In [32]:
# 5. Bitwise Operator

def bitwise(a, b):
  and_op = a & b
  or_op = a | b
  xor_op = a ^ b
  return and_op, or_op, xor_op

print(bitwise(10, 20))

(0, 30, 30)

In [35]:
# 6. Membership Operator

def membership(a, b):
  if a in b:
    return "a is present in b"
  else:
    return "a is not present in b"

print(membership(10, [10, 20, 30]))

a is present in b

In [36]:
# 7. Identity Operator

def identity(a, b):
  if a is b:
    return "a and b are same"
  else:
    return "a and b are not same"

print(identity(10, 10))

a and b are same

In [37]:
# Code to add and multiply the complex numbers

def complex_numbers(a, b):
  add = a + b
  mul = a * b
  return add, mul

print(complex_numbers(10 + 20j, 20 + 30j))

((30+50j), (-400+700j))

In [41]:
# Code to print multiplication table of a number

def multiplication_table(num):
  for i in range(1, 20):
    print(num, 'x', i, '=', num * i)

multiplication_table(10)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190